# 5. SQL Fundamentals with R

## 5.1. What is SQL?

- Is a domain-specific programming language to store, manipulate and retrieve data in/from relational database systems.
- It includes two main types of statements:
    - Data Definition Language (DDL): To create, alter, or drop data structures in an SQL system
    - Data Manipulating Language (DML): To store, retrieve, modify, delete, insert and update data in database
- Different versions of SQL are being used in different relational database systems (e.g. Oracle, Sql Server, DB2, SQLite)
<br><br>

### 5.1.1. DDL Statements

#### 5.1.1.1. <font color=red>CREATE TABLE</font> : To create a new table in database
- <b>Format:</b>
    - CREATE TABLE table_name (list of columns);
- <b>Example:</b>
    - CREATE TABLE book(
                        book_id PRIMARY KEY,
                        book_title,
                        book_author,
                        book_publisher,
                        book_publish_date
                        );

======================================================================================================================                        
#### 5.1.1.2. <font color=red>ALTER TABLE</font> : To alter (change) structure of a table in database
- <b>Format:</b>
    - ALTER TABLE table_name <b>RENAME TO new_table_name</b>;
    - ALTER TABLE table_name <b>ADD COLUMN (list of columns)</b>;
- <b>Example:</b>
    - ALTER TABLE book RENAME TO books;
    - ALTER TABLE book ADD COLUMN (book_page_number);

======================================================================================================================    
#### 5.1.1.3. <font color=red>DROP TABLE</font> : To drop (delete) a table in database
- <b>Format:</b>
    - DROP TABLE IF EXISTS table_name;
- <b>Example:</b>
    - DROP TABLE IF EXISTS books;

======================================================================================================================                        
### 5.1.2. DML Statements

#### 5.1.2.1. <font color=red>INSERT INTO</font> : To insert a new row into a table in database
- <b>Format:</b>
    - INSERT INTO table_name (list of columns) VALUES (list of values);
- <b>Example:</b>
    - INSERT INTO books (book_id, book_title, book_author, book_publisher, book_publish_date)<br> 
    VALUES (45987, 'War and Peace', 'Leo Tolstoy', 'The Russian Messenger', 1868);

====================================================================================================================== 

#### 5.1.2.2. <font color=red>UPDATE</font> : To update data of an existing row of a table in database
- <b>Format:</b>
    - UPDATE table_name SET col1=val1, col2=val2, ..., coln=valn [WHERE criteria];
- <b>Example:</b>
    - UPDATE books SET book_publish_date=1869 WHERE book_id=45987;

====================================================================================================================== 

#### 5.1.2.3. <font color=red>DELETE</font> : To delete one or more rows of a table in database
- <b>Format:</b>
    - DELETE table_name WHERE criteria;
- <b>Example:</b>
    - DELETE books WHERE book_id=45987;
    - DELETE books WHERE book_author='Leo Tolstoy';

====================================================================================================================== 
#### 5.1.2.4. <font color=red>SELECT</font> : To retrieve one or more rows of a table in database
- <b>Format:</b>
    - SELECT list of columns<br>
    FROM table_name<br>
    WHERE criteria;
- <b>Example:</b>
    - SELECT book_title, book_author FROM books WHERE book_id=45987;
    - SELECT * FROM books WHERE book_author='Leo Tolstoy';

======================================================================================================================

## 5.2. SQLite

- Is a high-reliability, embedded, full-featured, public-domain, SQL database engine. 
- Does not have a separate server process. It reads and writes directly to ordinary disk files.
- Is the most used database engine in the world
    - Android devices
    - iPhone and iOS devices
    - MAC devices
    - Windows10 machines
    - Most television sets and set-top cable boxes
    - Most automotive multimedia systems
    - ...
<br><br>
- RSQLite is the easiest way to use a database from R because the package itself contains SQLite; no external software is needed.

In [1]:
install.packages('RSQLite', repos = "https://cloud.r-project.org")

package 'RSQLite' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\iddy9\AppData\Local\Temp\RtmpOKy58N\downloaded_packages

<font color=blue><br>
- RSQLite is a DBI-compatible interface which means you primarily use functions defined in the DBI package<br>
- So you should always start by loading DBI, not RSQLite
</font>

In [9]:
library(DBI)

In [10]:
RShowDoc("RSQLite", package="RSQLite")

### 5.2.1. dbconnect()

- To create a new SQLite database and assign a filename

In [11]:
db1 <- dbConnect(RSQLite::SQLite(), "mySeconddb.sqlite")

In [12]:
db1

<SQLiteConnection>
  Path: C:\Users\iddy9\Downloads\Datastar2\sql in R\mySeconddb.sqlite
  Extensions: TRUE

### 5.2.2. dbWriteTable()

- To copy an R data frame into a SQLite database

In [14]:
dbWriteTable(db1, "mtcars", mtcars, overwrite=T)
dbWriteTable(db1, "iris", iris, overwrite=T)

In [15]:
# To have a list of tables
dbListTables(db1)

[1] "iris"   "mtcars"

### 5.2.3. dbGetQuery()

- To run a SQL statement (Quesry)

In [10]:
dbGetQuery(db1, 'SELECT * FROM mtcars LIMIT 3')
dbGetQuery(db1, 'SELECT mpg, cyl, qsec, carb FROM mtcars LIMIT 3')

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1

  mpg  cyl qsec  carb
1 21.0 6   16.46 4
2 21.0 6   17.02 4
3 22.8 4   18.61 1

In [16]:
dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp > 178')

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
2  16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
3  17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
4  15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
5  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
6  10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
7  14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
8  13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
9  15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
10 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

In [23]:
dbGetQuery(db1, 'SELECT mpg, gear, cyl, hp, wt FROM mtcars WHERE hp <= 100')

  mpg  gear cyl hp wt
1 22.8 4    4   93 2.320
2 24.4 4    4   62 3.190
3 22.8 4    4   95 3.150
4 32.4 4    4   66 2.200
5 30.4 4    4   52 1.615
6 33.9 4    4   65 1.835
7 21.5 3    4   97 2.465
8 27.3 4    4   66 1.935
9 26.0 5    4   91 2.140

In [22]:
dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp < 150 AND wt > 2.5')

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Valiant        18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280       19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C      17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [17]:
dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp < :x AND wt > :y',
          params = list(x = 156, y = 2.5))

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
4  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
5  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
6  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
7  19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
8  17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
9  15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
10 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
11 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [20]:
dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp < :x OR wt > :y',
          params = list(x = 100, y = 3.5))

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
2  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
3  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
4  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
5  16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
6  17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
7  15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
8  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
9  10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
10 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
11 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
12 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
13 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
14 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
15 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
16 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
17 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
18 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
19 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
20 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

In [26]:
dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp IN (:x, :y, :z)',
          params = list(x = 150, y = 180, z = 175))

dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp = :x OR hp = :y or hp = :z',
          params = list(x = 150, y = 180, z = 175))

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Merc 450SE        16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL        17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC       15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Dodge Challenger  15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin       15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Pontiac Firebird  19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ferrari Dino      19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Merc 450SE        16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL        17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC       15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Dodge Challenger  15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin       15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Pontiac Firebird  19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ferrari Dino      19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6

In [45]:
dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp BETWEEN :x AND :y',
          params = list(x = 150, y = 180))

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Merc 450SE        16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL        17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC       15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Dodge Challenger  15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin       15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Pontiac Firebird  19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ferrari Dino      19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6

### 5.2.4. Batched Query

- <font color=green>If the results do not fit in memory, <b>Batched Query</b> can be used.</font>
- <font color=blue>dbSendQuery()</font>: To run the query with no result returns
- <font color=brown>dbFetch()</font>: To fetch a part of desired result
- <font color=orange>dbClearResults()</font>: To ignore rest of result of a batched query

In [21]:
res <- dbSendQuery(db1, 'SELECT * FROM mtcars')

In [22]:
res

<SQLiteResult>
  SQL  SELECT * FROM mtcars
  ROWS Fetched: 0 [incomplete]
       Changed: 0

In [14]:
fd <- dbFetch(res, n = 10)
fd

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4

In [30]:
res

<SQLiteResult>
  SQL  SELECT * FROM mtcars
  ROWS Fetched: 10 [incomplete]
       Changed: 0

In [15]:
fd <- dbFetch(res, n = 5)
fd

  mpg  cyl disp  hp  drat wt   qsec  vs am gear carb
1 17.8 6   167.6 123 3.92 3.44 18.90 1  0  4    4
2 16.4 8   275.8 180 3.07 4.07 17.40 0  0  3    3
3 17.3 8   275.8 180 3.07 3.73 17.60 0  0  3    3
4 15.2 8   275.8 180 3.07 3.78 18.00 0  0  3    3
5 10.4 8   472.0 205 2.93 5.25 17.98 0  0  3    4

In [32]:
res

<SQLiteResult>
  SQL  SELECT * FROM mtcars
  ROWS Fetched: 15 [incomplete]
       Changed: 0

In [16]:
dbClearResult(res)

In [34]:
res

<SQLiteResult>
EXPIRED

### 5.2.5. dbExecute()

- To run Queries that do not return a tabular result 
    - inserting records into a table
    - updating a table
    - deleting from a table
    - setting engine parameters

In [42]:
dbGetQuery(db1, 'SELECT * FROM iris WHERE "Sepal.Length" < 4.5')

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 4.4          2.9         1.4          0.2         setosa
2 4.3          3.0         1.1          0.1         setosa
3 4.4          3.0         1.3          0.2         setosa
4 4.4          3.2         1.3          0.2         setosa

In [44]:
dbExecute(db1, 'DELETE FROM iris WHERE "Sepal.Length" < 4.5')

[1] 4

In [45]:
dbGetQuery(db1, 'SELECT * FROM iris WHERE "Sepal.Length" < 4.5')

     Sepal.Length Sepal.Width Petal.Length Petal.Width Species

In [46]:
dbExecute(db1, 'INSERT INTO iris VALUES(4.4, 2.9, 1.4, 0.2, "setosa")')

[1] 1

In [47]:
dbGetQuery(db1, 'SELECT * FROM iris WHERE "Sepal.Length" < 4.5')

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 4.4          2.9         1.4          0.2         setosa

In [8]:
dbExecute(db1, 'UPDATE iris SET "Petal.Width" = 0.3 WHERE "Sepal.Length" = 4.4')

[1] 1

In [9]:
dbGetQuery(db1, 'SELECT * FROM iris WHERE "Sepal.Length" < 4.5')

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 4.4          2.9         1.4          0.3         setosa

In [10]:
dbExecute(db1, 'CREATE TABLE mytable(id INTEGER PRIMARY KEY ASC, name, age)')

[1] 1

In [11]:
dbGetQuery(db1, 'SELECT * FROM mytable')

     id name age

In [13]:
dbExecute(db1, 'INSERT INTO mytable VALUES(1,"Amin", 35)')

[1] 1

In [14]:
dbGetQuery(db1, 'SELECT * FROM mytable')

  id name age
1 1  Amin 35

In [15]:
dbExecute(db1, 'INSERT INTO mytable(name, age) VALUES("John", 19)')

[1] 1

In [16]:
dbGetQuery(db1, 'SELECT * FROM mytable')

  id name age
1 1  Amin 35
2 2  John 19

In [19]:
dbGetQuery(db1, 'SELECT count(*) Num_Rows FROM mytable')
dbGetQuery(db1, 'SELECT sum(age) Total_Age FROM mytable')

  Num_Rows
1 2

  Total_Age
1 54

In [20]:
mydf = dbGetQuery(db1, 'SELECT * FROM mytable')
summary(mydf)

       id           name                age
 Min.   :1.00   Length:2           Min.   :19
 1st Qu.:1.25   Class :character   1st Qu.:23
 Median :1.50   Mode  :character   Median :27
 Mean   :1.50                      Mean   :27
 3rd Qu.:1.75                      3rd Qu.:31
 Max.   :2.00                      Max.   :35

# <font color=red>Exercise 1</font>
- <font color=blue>Create 3 tables called PRODUCT, CUSTOMER and ORDER using given file (customer_Product_order.xlsx).</font>
    - Create tables PRODUCT and CUSTOMER and insert data into them by using <b>dbExecute()</b>.
    - Create table ORDER using <b>dbWriteTable()</b>.<br><br>
- <font color=blue>Then find expected results of the given statements.</font>
    1. The most expensive product
    2. The oldest customer
    3. The minimum amount of sale in an order
    4. Total amount of sale
    5. How much money every customer should pay?


- Have you faced any problem in finding expected results?

In [17]:
cust = read.csv("C:/Users/hosein/Desktop/sql training/INTRO TO SQL TRAINING/sql in R/cus.csv")
ord = read.csv("C:/Users/hosein/Desktop/sql training/INTRO TO SQL TRAINING/sql in R/order.csv")
prod = read.csv("C:/Windows/System32/sql_r/prod.csv")

head(cust, 2)
head(prod, 2)
head(ord, 2)

  customer_id customer_name customer_phone
1 11111       Tom           55555555
2 11112       Sara          66666666

  product_id product_name product_price
1 111        A            43
2 112        B            28

  order_id   order_customer_id order_product_id order_product_count
1 1111111111 11113             123              3
2 1111111112 11115             125              5

In [18]:
db2 = dbConnect(RSQLite::SQLite(), "mySell.sqlite")

dbWriteTable(db2, "Order", ord, overwrite=T)
dbWriteTable(db2, "Customer", cust, overwrite=T)
dbWriteTable(db2, "Product", prod, overwrite=T)

In [19]:
dbListTables(db2)

[1] "Customer" "Order"    "Product"

In [34]:
#dbSendQuery(db2, "")
dbGetQuery(db2, "select * from Product")

Warning message:
"Closing open result set, pending rows"

   product_id product_name product_price
1  111        A             43
2  112        B             28
3  113        C             93
4  114        D             59
5  115        E             12
6  116        F             23
7  117        G            100
8  118        H             70
9  119        I             81
10 120        J            100
11 121        K             59
12 122        L             18
13 123        M             21
14 124        N             87
15 125        O             80
16 126        P             12
17 127        Q             62
18 128        R             19
19 129        S             35

In [40]:
maxP = dbGetQuery(db2, "select max(product_price) from product")
maxP
dbGetQuery(db2, paste("select * from product where product_price = ", maxP))

  max(product_price)
1 100

  product_id product_name product_price
1 117        G            100
2 120        J            100

In [41]:
dbExecute(db2, "insert into product values(130, 'U', 127)")

[1] 1

In [47]:
maxP = dbGetQuery(db2, "select max(product_price) from product")
maxP
dbGetQuery(db2, paste("select * from product where product_price = ", maxP))

  max(product_price)
1 127

  product_id product_name product_price
1 130        U            127

In [48]:
maxP = dbGetQuery(db2, "select max(product_price) from product")
maxP
maxP2 = dbGetQuery(db2, paste("select max(product_price) from product where product_price < ", maxP))
maxP2
dbGetQuery(db2, paste("select * from product where product_price = ", maxP2))

  max(product_price)
1 127

  max(product_price)
1 100

  product_id product_name product_price
1 117        G            100
2 120        J            100

In [52]:
dbExecute(db2, "ALTER TABLE customer ADD age number;")

[1] 1

In [57]:
dbGetQuery(db2, "select * from customer")

  customer_id customer_name customer_phone age
1 11111       Tom           55555555       37
2 11112       Sara          66666666       43
3 11113       Negar         33333333       61
4 11114       John          88888888       28
5 11115       David         44444444       32
6 11116       Ludovic       77777777       43

In [56]:
dbExecute(db2, "update customer set age = 37 where customer_id = 11111")
dbExecute(db2, "update customer set age = 43 where customer_id = 11112")
dbExecute(db2, "update customer set age = 61 where customer_id = 11113")
dbExecute(db2, "update customer set age = 28 where customer_id = 11114")
dbExecute(db2, "update customer set age = 32 where customer_id = 11115")
dbExecute(db2, "update customer set age = 43 where customer_id = 11116")

[1] 1

[1] 1

[1] 1

[1] 1

[1] 1

[1] 1

In [72]:
#Average
dbGetQuery(db2, "select avg(age) from customer")
ages = dbGetQuery(db2, "select age from customer")

ages[,1]
#Standard Devation
sd(ages[,1])

  avg(age)
1 40.66667

[1] 37 43 61 28 32 43

[1] 11.6046

In [74]:
# Q3
dbGetQuery(db2, "select min(order_product_count) from 'order'")

  min(order_product_count)
1 1

In [75]:
# Q4
dbGetQuery(db2, "select sum(order_product_count) from 'order'")

  sum(order_product_count)
1 89

In [77]:
dbGetQuery(db2, "select sum(order_product_count), order_product_id from 'order' 
                group by order_product_id")

   sum(order_product_count) order_product_id
1   3                       111
2   4                       112
3   3                       113
4   4                       114
5   2                       119
6   4                       120
7   1                       121
8   5                       122
9  10                       123
10  9                       124
11 16                       125
12 12                       126
13  5                       128
14  8                       129
15  3                       222

In [80]:
dbGetQuery(db2, "select sum(order_product_count), order_product_id,order_customer_id from 'order' 
                group by order_product_id,order_customer_id
                order by order_customer_id")

   sum(order_product_count) order_product_id order_customer_id
1   4                       114              11111
2   1                       120              11111
3   5                       122              11111
4   1                       123              11111
5   8                       124              11111
6   5                       128              11111
7   3                       120              11112
8   4                       125              11112
9   3                       113              11113
10  2                       119              11113
11  3                       123              11113
12  1                       124              11113
13  2                       126              11113
14  3                       129              11113
15  1                       121              11114
16  6                       123              11114
17  1                       129              11114
18  3                       111              11115
19  4                       112              11115
20 12                       125              11115
21 10                       126              11115
22  4                       129              11115
23  3                       222              11120

## 5.3. Advanced DML Queries

### 5.3.1. ORDER BY
- To sort retrieved data in an appropriate order

In [21]:
dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp < :x AND wt > :y',
          params = list(x = 150, y = 2.5))

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Valiant        18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280       19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C      17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [22]:
dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp < :x AND wt > :y ORDER BY hp',
          params = list(x = 150, y = 2.5))

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Valiant        18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Merc 280       19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C      17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4

In [23]:
dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp < :x AND wt > :y ORDER BY hp DESC',
          params = list(x = 150, y = 2.5))

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Merc 280       19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C      17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
Valiant        18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2

In [24]:
dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp < :x AND wt > :y ORDER BY hp DESC, drat',
          params = list(x = 150, y = 2.5))

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Merc 280       19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C      17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
Valiant        18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2

### 5.3.2. GROUP BY
- To group retreived results by specific column(s)

In [27]:
dbGetQuery(db1, 'SELECT avg(hp) hp_avg FROM mtcars')

  hp_avg
1 146.6875

In [28]:
dbGetQuery(db1, 'SELECT avg(hp) hp_avg, gear FROM mtcars GROUP BY gear')

  hp_avg   gear
1 176.1333 3
2  89.5000 4
3 195.6000 5

In [29]:
dbGetQuery(db1, 'SELECT avg(hp) hp_avg, gear, cyl FROM mtcars GROUP BY gear, cyl')

  hp_avg   gear cyl
1  97.0000 3    4
2 107.5000 3    6
3 194.1667 3    8
4  76.0000 4    4
5 116.5000 4    6
6 102.0000 5    4
7 175.0000 5    6
8 299.5000 5    8

### 5.3.3. HAVING
- To apply criteria using aggregate functions (e.g. avg, count, max, etc)

In [31]:
dbGetQuery(db1, 'SELECT avg(hp) hp_avg, gear, cyl FROM mtcars GROUP BY gear, cyl HAVING avg(hp) < 100')

  hp_avg gear cyl
1 97     3    4
2 76     4    4

In [6]:
dbGetQuery(db1, 'SELECT count(*) Count, gear, cyl FROM mtcars GROUP BY gear, cyl HAVING avg(hp) < 200')

  Count gear cyl
1  1    3    4
2  2    3    6
3 12    3    8
4  8    4    4
5  4    4    6
6  2    5    4
7  1    5    6

### 5.3.4. JOIN
- To JOIN two or more tables to be able to extract more information
- To JOIN two tables we need to utilize columns of the tables having common values.
- Three types of JOIN are available in SQLite
    - CROSS JOIN
    - INNER JOIN
    - OUTER JOIN
<br>

#### 5.3.4.1. CROSS JOIN
- It matches every row of the first table with every row of the second table. 
- If the input tables have m and n columns, respectively, the resulting table will have m*n columns.
- <font color=red>It may result in a very very large table.</font>
<br><br>
- <b>Format:</b>
    - SELECT ... FROM table1 <b>CROSS JOIN</b> table2 ...;
- <b>Example:</b>
    - SELECT * FROM customer CROSS JOIN product;

In [90]:
cust = read.csv("C:/Users/user_adax/Jupyter/EDA/cus.csv", header=TRUE, sep=",")
prod = read.csv("C:/Users/user_adax/Jupyter/EDA/prod.csv", header=TRUE, sep=",")
order = read.csv("C:/Users/user_adax/Jupyter/EDA/order.csv", header=TRUE, sep=";")

In [91]:
head(cust, 2)
head(prod, 2)
head(order, 2)

  customer_id customer_name customer_phone
1 11111       Tom           55555555
2 11112       Sara          66666666

  product_id product_name product_price
1 111        A            43
2 112        B            28

  order_id.order_customer_id.order_product_id.order_product_count
1 1111111111,11113,123,3
2 1111111112,11115,125,5

In [92]:
dbWriteTable(db1, "customer", cust, overwrite=T)
dbWriteTable(db1, "product", prod, overwrite=T)
dbWriteTable(db1, "order", order, overwrite=T)

[1] TRUE

[1] TRUE

[1] TRUE

In [93]:
dbGetQuery(db1, 'SELECT count(*) FROM customer')
dbGetQuery(db1, 'SELECT count(*) FROM product')
dbGetQuery(db1, 'SELECT count(*) FROM "order"')

  count(*)
1 6

  count(*)
1 19

  count(*)
1 30

In [102]:
dbGetQuery(db1, 'SELECT * FROM customer')

  customer_id customer_name customer_phone
1 11111       Tom           55555555
2 11112       Sara          66666666
3 11113       Negar         33333333
4 11114       John          88888888
5 11115       David         44444444
6 11116       Ludovic       77777777

In [95]:
dbGetQuery(db1, 'SELECT * FROM customer CROSS JOIN product')

    customer_id customer_name customer_phone product_id product_name
1   11111       Tom           55555555       111        A
2   11111       Tom           55555555       112        B
3   11111       Tom           55555555       113        C
4   11111       Tom           55555555       114        D
5   11111       Tom           55555555       115        E
6   11111       Tom           55555555       116        F
7   11111       Tom           55555555       117        G
8   11111       Tom           55555555       118        H
9   11111       Tom           55555555       119        I
10  11111       Tom           55555555       120        J
11  11111       Tom           55555555       121        K
12  11111       Tom           55555555       122        L
13  11111       Tom           55555555       123        M
14  11111       Tom           55555555       124        N
15  11111       Tom           55555555       125        O
16  11111       Tom           55555555       126        P
17  11111       Tom           55555555       127        Q
18  11111       Tom           55555555       128        R
19  11111       Tom           55555555       129        S
20  11112       Sara          66666666       111        A
21  11112       Sara          66666666       112        B
22  11112       Sara          66666666       113        C
23  11112       Sara          66666666       114        D
24  11112       Sara          66666666       115        E
25  11112       Sara          66666666       116        F
26  11112       Sara          66666666       117        G
27  11112       Sara          66666666       118        H
28  11112       Sara          66666666       119        I
29  11112       Sara          66666666       120        J
30  11112       Sara          66666666       121        K
... ...         ...           ...            ...        ...
85  11115       David         44444444       119        I
86  11115       David         44444444       120        J
87  11115       David         44444444       121        K
88  11115       David         44444444       122        L
89  11115       David         44444444       123        M
90  11115       David         44444444       124        N
91  11115       David         44444444       125        O
92  11115       David         44444444       126        P
93  11115       David         44444444       127        Q
94  11115       David         44444444       128        R
95  11115       David         44444444       129        S
96  11116       Ludovic       77777777       111        A
97  11116       Ludovic       77777777       112        B
98  11116       Ludovic       77777777       113        C
99  11116       Ludovic       77777777       114        D
100 11116       Ludovic       77777777       115        E
101 11116       Ludovic       77777777       116        F
102 11116       Ludovic       77777777       117        G
103 11116       Ludovic       77777777       118        H
104 11116       Ludovic       77777777       119        I
105 11116       Ludovic       77777777       120        J
106 11116       Ludovic       77777777       121        K
107 11116       Ludovic       77777777       122        L
108 11116       Ludovic       77777777       123        M
109 11116       Ludovic       77777777       124        N
110 11116       Ludovic       77777777       125        O
111 11116       Ludovic       77777777       126        P
112 11116       Ludovic       77777777       127        Q
113 11116       Ludovic       77777777       128        R
114 11116       Ludovic       77777777       129        S
    product_price
1    43
2    28
3    93
4    59
5    12
6    23
7   100
8    70
9    81
10  100
11   59
12   18
13   21
14   87
15   80
16   12
17   62
18   19
19   35
20   43
21   28
22   93
23   59
24   12
25   23
26  100
27   70
28   81
29  100
30   59
... ...
85   81
86  100
87   59
88   18
89   21
90   87
91   80
92   12
93   62
94   19
95   35
96   43
97   28
98   93
99   59
100  12
101  23
102 100
103  70
104  81
105 100
106  59
107  18
108  21
109  87
110  80
111  12
112  62
113  19
114  35

In [96]:
dbGetQuery(db2, "select * from customer CROSS JOIN 'order' where customer_id = order_customer_id")

   customer_id customer_name customer_phone age order_id   order_customer_id
1  11111       Tom           55555555       37  1111111119 11111
2  11111       Tom           55555555       37  1111111121 11111
3  11111       Tom           55555555       37  1111111123 11111
4  11111       Tom           55555555       37  1111111127 11111
5  11111       Tom           55555555       37  1111111131 11111
6  11111       Tom           55555555       37  1111111133 11111
7  11111       Tom           55555555       37  1111111135 11111
8  11111       Tom           55555555       37  1111111137 11111
9  11111       Tom           55555555       37  1111111139 11111
10 11112       Sara          66666666       43  1111111117 11112
11 11112       Sara          66666666       43  1111111118 11112
12 11113       Negar         33333333       61  1111111111 11113
13 11113       Negar         33333333       61  1111111114 11113
14 11113       Negar         33333333       61  1111111116 11113
15 11113       Negar         33333333       61  1111111124 11113
16 11113       Negar         33333333       61  1111111125 11113
17 11113       Negar         33333333       61  1111111136 11113
18 11114       John          88888888       28  1111111113 11114
19 11114       John          88888888       28  1111111120 11114
20 11114       John          88888888       28  1111111122 11114
21 11114       John          88888888       28  1111111134 11114
22 11115       David         44444444       32  1111111112 11115
23 11115       David         44444444       32  1111111115 11115
24 11115       David         44444444       32  1111111126 11115
25 11115       David         44444444       32  1111111128 11115
26 11115       David         44444444       32  1111111129 11115
27 11115       David         44444444       32  1111111130 11115
28 11115       David         44444444       32  1111111132 11115
29 11115       David         44444444       32  1111111138 11115
   order_product_id order_product_count
1  122              2
2  124              4
3  124              2
4  128              5
5  123              1
6  114              4
7  124              2
8  120              1
9  122              3
10 125              4
11 120              3
12 123              3
13 124              1
14 119              2
15 126              2
16 129              3
17 113              3
18 121              1
19 123              4
20 129              1
21 123              2
22 125              5
23 125              3
24 126              5
25 129              4
26 111              3
27 125              4
28 112              4
29 126              5

In [97]:
5*19
dbGetQuery(db1, 'SELECT count(*) from (SELECT * FROM customer CROSS JOIN product)')

[1] 95

  count(*)
1 114

#### 5.3.4.2. INNER JOIN
- It matches only those rows of the joining tables having same values in determined columns. 
<br><br>
- <b>Format:</b>
    - SELECT ... FROM table1 <b>INNER JOIN</b> table2 on criteria;
- <b>Example:</b>
    - SELECT * FROM customer INNER JOIN order on customer_id=order_customer_id;

In [108]:
dbGetQuery(db2, 'SELECT * FROM customer INNER JOIN "order" on customer_id=order_customer_id')

   customer_id customer_name customer_phone age order_id   order_customer_id
1  11111       Tom           55555555       37  1111111119 11111
2  11111       Tom           55555555       37  1111111121 11111
3  11111       Tom           55555555       37  1111111123 11111
4  11111       Tom           55555555       37  1111111127 11111
5  11111       Tom           55555555       37  1111111131 11111
6  11111       Tom           55555555       37  1111111133 11111
7  11111       Tom           55555555       37  1111111135 11111
8  11111       Tom           55555555       37  1111111137 11111
9  11111       Tom           55555555       37  1111111139 11111
10 11112       Sara          66666666       43  1111111117 11112
11 11112       Sara          66666666       43  1111111118 11112
12 11113       Negar         33333333       61  1111111111 11113
13 11113       Negar         33333333       61  1111111114 11113
14 11113       Negar         33333333       61  1111111116 11113
15 11113       Negar         33333333       61  1111111124 11113
16 11113       Negar         33333333       61  1111111125 11113
17 11113       Negar         33333333       61  1111111136 11113
18 11114       John          88888888       28  1111111113 11114
19 11114       John          88888888       28  1111111120 11114
20 11114       John          88888888       28  1111111122 11114
21 11114       John          88888888       28  1111111134 11114
22 11115       David         44444444       32  1111111112 11115
23 11115       David         44444444       32  1111111115 11115
24 11115       David         44444444       32  1111111126 11115
25 11115       David         44444444       32  1111111128 11115
26 11115       David         44444444       32  1111111129 11115
27 11115       David         44444444       32  1111111130 11115
28 11115       David         44444444       32  1111111132 11115
29 11115       David         44444444       32  1111111138 11115
   order_product_id order_product_count
1  122              2
2  124              4
3  124              2
4  128              5
5  123              1
6  114              4
7  124              2
8  120              1
9  122              3
10 125              4
11 120              3
12 123              3
13 124              1
14 119              2
15 126              2
16 129              3
17 113              3
18 121              1
19 123              4
20 129              1
21 123              2
22 125              5
23 125              3
24 126              5
25 129              4
26 111              3
27 125              4
28 112              4
29 126              5

In [109]:
dbGetQuery(db2, 'SELECT * FROM customer INNER JOIN (select order_customer_id, order_product_count from "order") 
on customer_id = order_customer_id')

   customer_id customer_name customer_phone age order_customer_id
1  11111       Tom           55555555       37  11111
2  11111       Tom           55555555       37  11111
3  11111       Tom           55555555       37  11111
4  11111       Tom           55555555       37  11111
5  11111       Tom           55555555       37  11111
6  11111       Tom           55555555       37  11111
7  11111       Tom           55555555       37  11111
8  11111       Tom           55555555       37  11111
9  11111       Tom           55555555       37  11111
10 11112       Sara          66666666       43  11112
11 11112       Sara          66666666       43  11112
12 11113       Negar         33333333       61  11113
13 11113       Negar         33333333       61  11113
14 11113       Negar         33333333       61  11113
15 11113       Negar         33333333       61  11113
16 11113       Negar         33333333       61  11113
17 11113       Negar         33333333       61  11113
18 11114       John          88888888       28  11114
19 11114       John          88888888       28  11114
20 11114       John          88888888       28  11114
21 11114       John          88888888       28  11114
22 11115       David         44444444       32  11115
23 11115       David         44444444       32  11115
24 11115       David         44444444       32  11115
25 11115       David         44444444       32  11115
26 11115       David         44444444       32  11115
27 11115       David         44444444       32  11115
28 11115       David         44444444       32  11115
29 11115       David         44444444       32  11115
   order_product_count
1  1
2  1
3  2
4  2
5  2
6  3
7  4
8  4
9  5
10 3
11 4
12 1
13 2
14 2
15 3
16 3
17 3
18 1
19 1
20 2
21 4
22 3
23 3
24 4
25 4
26 4
27 5
28 5
29 5

## Example 1:
- <font color=brown>How many orders does each customer have?</font>

In [47]:
dbGetQuery(db1, 'SELECT customer_name, count(*) Num_Order FROM
                        (SELECT * FROM customer CROSS JOIN "order" WHERE customer_id=order_customer_id)
                    GROUP BY customer_name')

  customer_name Num_Order
1 David         8
2 John          4
3 Negar         6
4 Sara          2
5 Tom           9

## Example 2:
- <font color=brown>How many products have been ordered group by product name?</font>

In [111]:
dbGetQuery(db2, 'SELECT product_name, count(*) Num_product FROM
                        (SELECT * FROM product INNER JOIN "order" on product_id=order_product_id)
                    GROUP BY product_name')

   product_name Num_product
1  A            1
2  B            1
3  C            1
4  D            1
5  I            1
6  J            2
7  K            1
8  L            2
9  M            4
10 N            4
11 O            4
12 P            3
13 R            1
14 S            3

## <font color=red>Exercise 2</font>

1. Please answer non-answered questions of Exercise #1.
2. <font color=brown>How many of every product have been ordered by each of the customers?</font>

#### 5.3.4.3. LEFT OUTER JOIN
- It takes any unjoined rows from one or both tables, pad them out with NULLs, and append them to the results. 
- In other words, it gives all rows in left table, plus any common rows in right table
<br><br>
- <b>Format:</b>
    - SELECT ... FROM table1 <b>LEFT OUTER JOIN</b> table2 WHERE criteria;
- <b>Example:</b>
    - SELECT * FROM customer LEFT OUTER JOIN order WHERE customer_name IN ('Tom', 'Negar');

In [113]:
dbGetQuery(db2, 'SELECT * FROM customer LEFT OUTER JOIN "order" WHERE customer_name != "Tom"')

    customer_id customer_name customer_phone age order_id   order_customer_id
1   11112       Sara          66666666       43  1111111111 11113
2   11112       Sara          66666666       43  1111111112 11115
3   11112       Sara          66666666       43  1111111113 11114
4   11112       Sara          66666666       43  1111111114 11113
5   11112       Sara          66666666       43  1111111115 11115
6   11112       Sara          66666666       43  1111111116 11113
7   11112       Sara          66666666       43  1111111117 11112
8   11112       Sara          66666666       43  1111111118 11112
9   11112       Sara          66666666       43  1111111119 11111
10  11112       Sara          66666666       43  1111111120 11114
11  11112       Sara          66666666       43  1111111121 11111
12  11112       Sara          66666666       43  1111111122 11114
13  11112       Sara          66666666       43  1111111123 11111
14  11112       Sara          66666666       43  1111111124 11113
15  11112       Sara          66666666       43  1111111125 11113
16  11112       Sara          66666666       43  1111111126 11115
17  11112       Sara          66666666       43  1111111127 11111
18  11112       Sara          66666666       43  1111111128 11115
19  11112       Sara          66666666       43  1111111129 11115
20  11112       Sara          66666666       43  1111111130 11115
21  11112       Sara          66666666       43  1111111131 11111
22  11112       Sara          66666666       43  1111111132 11115
23  11112       Sara          66666666       43  1111111133 11111
24  11112       Sara          66666666       43  1111111134 11114
25  11112       Sara          66666666       43  1111111135 11111
26  11112       Sara          66666666       43  1111111136 11113
27  11112       Sara          66666666       43  1111111137 11111
28  11112       Sara          66666666       43  1111111138 11115
29  11112       Sara          66666666       43  1111111139 11111
30  11112       Sara          66666666       43  1111111140 11120
... ...         ...           ...            ... ...        ...
121 11116       Ludovic       77777777       43  1111111111 11113
122 11116       Ludovic       77777777       43  1111111112 11115
123 11116       Ludovic       77777777       43  1111111113 11114
124 11116       Ludovic       77777777       43  1111111114 11113
125 11116       Ludovic       77777777       43  1111111115 11115
126 11116       Ludovic       77777777       43  1111111116 11113
127 11116       Ludovic       77777777       43  1111111117 11112
128 11116       Ludovic       77777777       43  1111111118 11112
129 11116       Ludovic       77777777       43  1111111119 11111
130 11116       Ludovic       77777777       43  1111111120 11114
131 11116       Ludovic       77777777       43  1111111121 11111
132 11116       Ludovic       77777777       43  1111111122 11114
133 11116       Ludovic       77777777       43  1111111123 11111
134 11116       Ludovic       77777777       43  1111111124 11113
135 11116       Ludovic       77777777       43  1111111125 11113
136 11116       Ludovic       77777777       43  1111111126 11115
137 11116       Ludovic       77777777       43  1111111127 11111
138 11116       Ludovic       77777777       43  1111111128 11115
139 11116       Ludovic       77777777       43  1111111129 11115
140 11116       Ludovic       77777777       43  1111111130 11115
141 11116       Ludovic       77777777       43  1111111131 11111
142 11116       Ludovic       77777777       43  1111111132 11115
143 11116       Ludovic       77777777       43  1111111133 11111
144 11116       Ludovic       77777777       43  1111111134 11114
145 11116       Ludovic       77777777       43  1111111135 11111
146 11116       Ludovic       77777777       43  1111111136 11113
147 11116       Ludovic       77777777       43  1111111137 11111
148 11116       Ludovic       77777777       43  1111111138 11115
149 11116       Ludovic       77777777       43  1111111139 11111
150 11116       Ludovic       77777777       43  1111111140 11120
    order_product_id order_product_count
1   123              3
2   125              5
3   121              1
4   124              1
5   125              3
6   119              2
7   125              4
8   120              3
9   122              2
10  123              4
11  124              4
12  129              1
13  124              2
14  126              2
15  129              3
16  126              5
17  128              5
18  129              4
19  111              3
20  125              4
21  123              1
22  112              4
23  114              4
24  123              2
25  124              2
26  113              3
27  120              1
28  126              5
29  122              3
30  222              3
... ...              ...
121 123              3
122 125              5
123 121              1
124 124              1
125 125              3
126 119              2
127 125              4
128 120              3
129 122              2
130 123              4
131 124              4
132 129              1
133 124              2
134 126              2
135 129              3
136 126              5
137 128              5
138 129              4
139 111              3
140 125              4
141 123              1
142 112              4
143 114              4
144 123              2
145 124              2
146 113              3
147 120              1
148 126              5
149 122              3
150 222              3

In [79]:
dbGetQuery(db1, 'SELECT * FROM customer INNER JOIN "order" 
WHERE customer_id=order_customer_id AND customer_name != "Tom"')

   customer_id customer_name customer_phone order_id   order_customer_id
1  11112       Sara          66666666       1111111117 11112
2  11112       Sara          66666666       1111111118 11112
3  11113       Negar         33333333       1111111111 11113
4  11113       Negar         33333333       1111111114 11113
5  11113       Negar         33333333       1111111116 11113
6  11113       Negar         33333333       1111111124 11113
7  11113       Negar         33333333       1111111125 11113
8  11113       Negar         33333333       1111111136 11113
9  11114       John          88888888       1111111113 11114
10 11114       John          88888888       1111111120 11114
11 11114       John          88888888       1111111122 11114
12 11114       John          88888888       1111111134 11114
13 11115       David         44444444       1111111112 11115
14 11115       David         44444444       1111111115 11115
15 11115       David         44444444       1111111126 11115
16 11115       David         44444444       1111111128 11115
17 11115       David         44444444       1111111129 11115
18 11115       David         44444444       1111111130 11115
19 11115       David         44444444       1111111132 11115
20 11115       David         44444444       1111111138 11115
   order_product_id order_product_count
1  125              4
2  120              3
3  123              3
4  124              1
5  119              2
6  126              2
7  129              3
8  113              3
9  121              1
10 123              4
11 129              1
12 123              2
13 125              5
14 125              3
15 126              5
16 129              4
17 111              3
18 125              4
19 112              4
20 126              5

In [157]:
sale_avg_grouped = dbGetQuery(db2, "select avg(order_product_count) SaleAvg, order_product_id 
                                    from 'order' group by order_product_id")
sale_avg_grouped

sale_avg = dbGetQuery(db2, "select avg(order_product_count) from 'order' ")
sale_avg[[1]]

sale_avg_grouped[sale_avg_grouped$SaleAvg < sale_avg[[1]],]


"============================"
dbGetQuery(db2, 'select avg(order_product_count) SaleAvg, order_product_id 
                                    from "order" group by order_product_id
                                    HAVING SaleAvg < (select avg(order_product_count) from "order") ')
"============================"

   SaleAvg  order_product_id
1  3.000000 111
2  4.000000 112
3  3.000000 113
4  4.000000 114
5  2.000000 119
6  2.000000 120
7  1.000000 121
8  2.500000 122
9  2.500000 123
10 2.250000 124
11 4.000000 125
12 4.000000 126
13 5.000000 128
14 2.666667 129
15 3.000000 222

[1] 2.966667

   SaleAvg  order_product_id
5  2.000000 119
6  2.000000 120
7  1.000000 121
8  2.500000 122
9  2.500000 123
10 2.250000 124
14 2.666667 129

[1] "============================"

  SaleAvg  order_product_id
1 2.000000 119
2 2.000000 120
3 1.000000 121
4 2.500000 122
5 2.500000 123
6 2.250000 124
7 2.666667 129

[1] "============================"

In [134]:
dbGetQuery(db2, "select * from customer")

  customer_id customer_name customer_phone age
1 11111       Tom           55555555       37
2 11112       Sara          66666666       43
3 11113       Negar         33333333       61
4 11114       John          88888888       28
5 11115       David         44444444       32
6 11116       Ludovic       77777777       43

In [135]:
dbGetQuery(db2, "select * from customer where age < (select avg(age) from customer)")

  customer_id customer_name customer_phone age
1 11111       Tom           55555555       37
2 11114       John          88888888       28
3 11115       David         44444444       32